@font-face {
  font-family: "Futura";
  src: url("../Futura.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Supply";
  src: url("../SupplySans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../Inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Medium";
  src: url("../Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  background: linear-gradient(to top, #e3dfff, #ffffff);
}

.home-ongoing-projects-container {
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.home-ongoing-projects-title {
  text-align: center;
  color: black;
  font-size: 2.5rem;
  font-family: "Futura";
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

.home-xp-info {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: black;
}

.home-projects-carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
  max-width: 1200px;
}

.home-projects-carousel-inner {
  width: 100%;
  overflow: hidden;
  max-width: 85%;
  margin: 0 auto;
}

.home-carousel-cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  width: 100%;
}

.home-carousel-card {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  align-items: center;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-sizing: border-box;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  font-family: "Futura";
  flex: 1;
  text-align: justify;
}

.carousel-desc {
  font-family: "Inter";
  font-weight: 500;
  margin: 0;
}

.carousel-goal {
  display: flex;
  justify-content: space-between;
}

.carousel-goal-fund {
  margin-right: 0.4rem;
}

.carousel-image {
  width: auto;
  height: 18rem;
  border-radius: 12px;
  margin-right: 2rem;
  object-fit: cover;
}

.carousel-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.6rem;
  padding-bottom: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  transition: background 0.3s ease;
}

.carousel-nav-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.carousel-nav-button.prev {
  left: 10px;
}

.carousel-nav-button.next {
  right: 10px;
}

.tags-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: max-content;
  margin: 0 auto;
  margin-top: -1rem;
  margin-bottom: 3rem;
  overflow-y: hidden;
  overflow-x: auto;
}

.tag {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  background-color: #e7e7e7;
  margin: 0 0.5rem;
  transition: background-color 0.3s;
  font-family: "Medium";
  font-size: 1.2rem;
  text-wrap: nowrap;
}

.tag:hover {
  background-color: #9890da;
  color: white;
}

.tag.active {
  background-color: #afa7f5;
  color: #fff;
}

.home-project-grid {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  gap: 1.5rem;
}

.home-project-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(180, 180, 180);
  cursor: pointer;
  max-width: 450px;
}

.home-project-image {
  margin: 0 auto;
  margin-top: 1.2rem;
  height: auto;
  width: 92%;
}

.home-project-image img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.home-project-summary {
  padding: 0 1rem;
  padding-bottom: 2rem;
  font-family: "Futura";
}

.home-project-summary h1 {
  font-size: 1.36rem;
}

.home-project-summary p {
  color: black;
  font-family: "Medium";
  font-weight: 700;
  font-size: 1.1rem;
}

.home-fundraising-progress {
  margin-top: 1rem;
}

.home-progress-bar {
  width: 100%;
  height: 15px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.home-progress-bar-fill {
  height: 100%;
  background-color: #9890da;
  transition: width 0.5s ease-in-out;
}

.home-project-details {
  padding: 1rem;
  background-color: #f9f9f9;
  font-family: "Futura";
}

.home-project-details p {
  color: #7f8c8d;
  margin-bottom: 1rem;
}

.home-donate-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #afa7f5;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Medium";
  font-size: 1rem;
}

.home-donate-button:hover {
  background-color: #9890da;
}

.home-donate-button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.home-loading,
.home-error,
.home-no-projects {
  text-align: center;
  padding: 3rem;
  font-size: 1rem;
  color: #7f8c8d;
  font-family: "Futura";
}

.home-loading {
  color: #7f8c8d;
}

.home-error {
  color: #e74c3c;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top right, #e3dfff, #ffffff);
  border: 3px solid black;
  padding: 2rem;
  border-radius: 16px;
  max-width: 1000px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.popup-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.popup-content img {
  width: auto;
  height: 18rem;
  border-radius: 12px;
  margin-right: 2rem;
  object-fit: cover;
}

.popup-summary {
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
}

.popup-summary h1 {
  font-family: "Futura";
  margin-bottom: 0;
}

.popup-summary p {
  font-family: "Medium";
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  text-align: justify;
}

.popup-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.popup-buttons button {
  font-family: "Medium";
  font-size: 1.1rem;
  text-wrap: nowrap;
}

.popup-close-button {
  position: absolute;
  top: 2px;
  right: 6px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.popup-close-button:hover {
  color: red;
}

.thank-you-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.thank-you-popup-content {
  background: white;
  padding: 2rem;
  padding-bottom: 3rem;
  border: 2px solid black;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
}

.thank-you-popup-content h2 {
  margin-bottom: 1rem;
  font-family: "Futura";
  font-size: 1.8rem;
  color: #4caf50;
}

.thank-you-popup-content p {
  font-family: "Medium";
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: black;
  text-align: center;
}

.close-popup-button {
  background: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: "Medium";
  font-size: 1rem;
}

.close-popup-button:hover {
  background: #45a049;
}

.ai-summary-container {
  border: 2px solid rgb(192, 192, 192);
  border-radius: 16px;
  padding: 0 2rem;
  margin-top: 1rem;
  height: 14rem;
  width: 80%;
}

.ai-summary-container h3,
.impact-score h4 {
  font-family: "Futura";
  font-size: 1.2rem;
}

.ai-summary-container p {
  margin-top: -1rem;
  font-family: "Medium";
}

.impact-score {
  margin-top: -0.8rem;
}

.impact-score-value {
  margin-top: -1rem;
  font-family: "Medium";
}

.impact-score-bar {
  width: 100%;
  height: 15px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 0.4rem;
}

.impact-score-fill {
  height: 100%;
  background-color: green;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .home-project-grid {
    grid-template-columns: 1fr;
  }
}
