@font-face {
  font-family: "Futura";
  src: url("../Futura.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Supply";
  src: url("../SupplySans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.proposed-projects-container {
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.proposed-projects-container h1 {
  text-align: center;
  color: black;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: "Futura";
  font-size: 2.5rem;
}

.proposal-grid {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 450px));
  gap: 1.5rem;
}

.proposal-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(180, 180, 180);
  cursor: pointer;
  font-family: "Futura";
}

.proposal-card:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.proposed-project-image {
  margin: 0 auto;
  margin-top: 1.2rem;
  height: auto;
  width: 92%;
}

.proposed-project-image img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.proposal-summary {
  padding: 0 1rem;
  padding-bottom: 2rem;
  margin-top: -1rem;
  font-family: "Futura";
}

.proposed-project-title h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.proposed-project-summary p,
.proposal-summary p,
.proposal-details p {
  color: black;
  font-family: "Medium";
  font-weight: 700;
  font-size: 1.1rem;
}

.proposed-vote-progress {
  margin-top: 1rem;
}

.proposed-progress-bar {
  width: 100%;
  height: 15px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.proposed-progress-bar-fill {
  height: 100%;
  background-color: #9890da;
  transition: width 0.5s ease-in-out;
}

.donate-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #afa7f5;
  color: white;
  border: none;
  border-radius: 8px; /* match with .home-donate-button */
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Medium";
  font-size: 1rem;
}

.donate-button:hover {
  background-color: #9890da;
}

.donate-button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.proposed-popup-title {
  display: flex;
  justify-content: flex-start;
}

.proposed-popup-desc {
  margin-top: -2rem;
}

.loading {
  text-align: center;
  padding: 3rem;
  color: #7f8c8d;
  font-family: "Futura";
}

.no-proposals {
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 2rem;
  color: #707070;
  font-family: "Futura";
}

.proposal-card-expired {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(180, 180, 180);
  font-family: "Futura";
}
